.card {
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-color: var(--mantine-color-cream-0);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  color: var(--mantine-color-navy-6);
  text-decoration: none;
}

.card:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.card h3 {
  text-decoration: underline;
  margin-bottom: 0.25em;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--mantine-radius-xs);
}

.image {
  border: 2px solid var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-xs);
}
