.sidebar {
  min-width: 280px;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  height: fit-content;
  position: sticky;
  top: var(--mantine-spacing-md);
  overflow-y: auto;
  background-color: hsla(31, 85%, 76%, 1);
  border: 3px solid var(--mantine-color-rust-6);
  border-radius: var(--mantine-radius-sm);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.15s ease;
}

.sidebar:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 64em) {
  .sidebar {
    position: static;
  }
}
