.block {
  margin: var(--mantine-spacing-xl) 0;
}

.primaryImage,
.secondaryImage {
  text-align: center;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: auto;
  border: 2px solid var(--mantine-color-dark-6);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: var(--mantine-radius-sm);
  transition: all 0.3s ease;
  object-fit: contain;
}

.textContainer {
  flex: 1;
}

.textContainer p {
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 62em) {
  .primaryImage,
  .secondaryImage {
    max-width: 100% !important;
    align-self: center;
  }
}
